# Ignore large datasets
data/*.txt
data/*.gz
data/*.csv  # only if raw, NOT your processed outputs

# Python stuff
.venv/
__pycache__/
*.pyc

# Models / heavy files
*.pkl

# OS junk
.DS_Store

!data/METABRIC_cleaned.csv